/* Aquí tenemos por un lado mi imagen de about en grande en la versión desktop 
y a la derecha varias secciones: sobre mi, habilidades (incluye un acordeon) y aprendizajes */

/* _____________________________________________ 
                       ABOUT                        
/* _____________________________________________*/
.About {
  width: 100%;
}
.About-imgContainer {
  width: 100%;
}

.About-img {
  width: 100%;
  height: auto;

  object-fit: cover;
}

/* Intro - Sobre mí */
.About-intro {
  padding: 2rem var(--padding);
  background-color: var(--color-violet);
}

.Text-parrafo--about {
  margin-bottom: var(--padding-about);
}

/* Habilidades y acordeon */
.About-skills {
  padding: 2rem var(--padding);
  height: auto;
}

.Acordeon-bloque {
  margin: 1.8rem 0rem;
  border-bottom: 0.1rem solid var(--color-acento);
}

.Acordeon-boton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0rem;
  cursor: pointer;
}

.Acordeon-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

/* usOpen afecta a la clase .Acordeon-content */
.isOpen {
  height: auto;
  padding: var(--padding-about) 0rem var(--padding);
}

/* Aprendizajes */
.About-learnings {
  padding: 2rem var(--padding);
  background-color: var(--color-violet);
}

/* _____________________________________________ 
                  Media Queries                   
 _____________________________________________*/

/* DESKTOP MEDIO */
@media (min-width: 1024px) and (max-width: 1440px) {
  .About {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .About-imgContainer {
    width: 40%;
    position: sticky;
    top: 0;
    height: 100vh;
  }

  .About-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .About-content {
    width: 60%;
    overflow: visible;
    height: auto;
  }
}

/* DESKTOP GRANDE */
@media (min-width: 1441px) {
  .About {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .About-section {
    padding: 4rem 3rem;
  }

  .About-imgContainer {
    width: 50%;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .About-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .About-content {
    width: 50%;
    overflow: visible;
    height: auto;
  }
}
